<% provide(:page_title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> <!-- La méthode will_paginate est magique; l'intérieur d'un utilisateurs visualisé, il recherche automatiquement un objet @users, puis affiche les liens de pagination pour accéder à d'autres pages. -->

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>